# Ignore the vscode directory
**/.vscode/

# Ignore the build directory
**/build/
**/install/
**/log/

# Ignore python cache files
**/__pycache__/

# Ignore mirco-ROS files
**/src/micro_ros_setup/
**/src/uros/
**/ros2.repos
**/.micro_ros_bootstrapped_*
**/.micro_ros_bootstrap.lock

# Ignore the PlatformIO directory
**/.pio/

# Ignore tmp files
**/tmp/*
!**/tmp/.gitkeep

# Environment files
.env
!.env.example
